{% extends "index.html " %}

{% block main %}
    {% if succ == False %}
    <form method="POST" action="/upload/" style="margin-bottom: 15px;" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>
                在这里可以将 .doc 上传。
            </legend>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        标题
                    </div>
                    <input type="text" class="form-control" name="title">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        作者
                    </div>
                    <input type="text" class="form-control" name="author">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        打标签
                    </div>
                    <input type="text" class="form-control" name="tags">
                </div>
            </div>
            <div class="form-group">
                 <div class="input-group">
                    <div class="input-group-addon">
                        文件
                    </div>
                    <input type="file" class="form-control" name="f">
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">上传</button>
        </fieldset>
    </form>
    {% endif %}
    {% if succ == True %}
        <h1>上传成功啦！</h1>
    {% endif %}
{% endblock %}
